{% if site.google_analytics %}
<link rel="dns-prefetch" href="https://www.google-analytics.com" />
{% endif %} {% if page.applause_button %}
<!-- <link
  rel="stylesheet"
  href="https://unpkg.com/applause-button/dist/applause-button.css"
/> -->
<script src="https://unpkg.com/applause-button/dist/applause-button.js"></script>
{% endif %} {% if site.comments.provider == "disqus" and site.disqus %}
<link
  rel="dns-prefetch"
  href="https://{{ disqus }}.disqus.com"
  id="_hrefDisqus"
/>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.5.3"></script>
<script type="text/javascript" src="/assets/sitedata.json"></script>
