/* Reset */
h1,
h2,
ul,
p {
  margin: initial;
  padding: initial;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}

/* Components */
body {
  background-image: url("./images/background.png");
}

.wrapper {
  width: 700px;
  margin: auto;
  background-color: #ddd;
}

.intro {
  padding: 60px 0;
  text-align: center;
  color: white;
  background-size: cover;
  background-image: url("./images/cover.png");
}

.intro .profile {
  border-radius: 50%;
  border: 5px solid white;
}

.intro h1 {
  font-size: 80px;
  font-weight: bold;
}

.intro p {
  border-top: 2px solid;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 20px;
}

.card {
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-color: white;
  margin: 20px;
  padding: 20px;
}

.card.information {
  background-image: url(./images/icon-information.png);
}

.card.skills {
  background-image: url(./images/icon-skills.png);
}

.card h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
  color: darkblue;
}

.card ul {
  border-left: 2px solid darkblue;
  padding-left: 15px;
}

footer {
  background-color: rgb(1, 5, 41);
  text-align: center;
  padding: 20px;
}

.link {
  display: inline-block;
  border-radius: 40px;
  border: 1px solid;
  padding: 5px 10px;
  color: #ccc;
}
