.dl-table {
  a {
    @supports (
      (text-decoration-thickness: initial) and (text-underline-offset: initial)
    ) {
      text-underline-offset: 0.8rem;
    }
    @supports not (
      (text-decoration-thickness: initial) and (text-underline-offset: initial)
    ) {
      padding-bottom: 0.45rem;
    }
  }

  .btn,
  .gumroad-button {
    margin: 1rem 0;
  }
}

.top-menu-wrapper {
  display: inline-block;
}

.nav-btn,
.nav-btn-bar {
  height: 3rem;
}
.top-menu {
  overflow-x: auto;
  // overflow-y: hidden;
  white-space: nowrap;
}
.top-menu.nav-btn {
  border: none;
  display: inline-flex;
  width: 6rem;
  margin-left: -1px;
}
.nav-btn:hover,
.nav-btn:focus {
  color: grey;
  background-color: rgba(0, 0, 0, 0.05);
}

.nav-span {
  flex: none;
}

.utterances {
  max-width: 100%;
}

applause-button {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
