@font-face {
  font-family: D2Coding;
  src:
    local("D2Coding"),
    url("/api/font/d2coding/woff2") format("woff2"),
    url("/api/font/d2coding/woff") format("woff"),
    url("/api/font/d2coding/ttf") format("truetype");
  font-display: block;
  font-style: normal;
}
