@import "tailwindcss";

@theme {
  --font-mono: D2Coding, "Courier New", Courier, monospace;
  --font-sans:
    Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  --color-background: #1f1f1f;
  --color-foreground: #e7e6d1;
}
