@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  em,
  address {
    @apply not-italic;
  }

  input,
  textarea,
  button,
  select,
  a {
    -webkit-tap-highlight-color: transparent;
  }

  input:focus,
  textarea:focus,
  select:focus {
    @apply rounded-[5px] outline outline-2 outline-offset-[-3px] outline-accent-light dark:outline-accent-dark;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  textarea:-webkit-autofill:active,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus,
  select:-webkit-autofill:active {
    -webkit-text-fill-color: theme("colors.default.light") !important;
    -webkit-box-shadow: 0 0 0 30px theme("colors.bg.light") inset !important;
  }

  :is(.dark input:-webkit-autofill),
  :is(.dark input:-webkit-autofill:hover),
  :is(.dark input:-webkit-autofill:focus),
  :is(.dark input:-webkit-autofill:active),
  :is(.dark textarea:-webkit-autofill),
  :is(.dark textarea:-webkit-autofill:hover),
  :is(.dark textarea:-webkit-autofill:focus),
  :is(.dark textarea:-webkit-autofill:active),
  :is(.dark select:-webkit-autofill),
  :is(.dark select:-webkit-autofill:hover),
  :is(.dark select:-webkit-autofill:focus),
  :is(.dark select:-webkit-autofill:active) {
    -webkit-text-fill-color: theme("colors.default.dark") !important;
    -webkit-box-shadow: 0 0 0 30px theme("colors.bg.dark") inset !important;
  }
}

@layer component {
  .text-gradient-intro {
    @apply text-fill-transparent inline-block bg-intro bg-[200%_auto] bg-clip-text print:bg-[300%_auto];
  }
}

@layer utilities {
  .text-fill-transparent {
    -webkit-text-fill-color: transparent;
  }
}
