@media (max-width: 800px ) {
  html {
    font-size: 14px;
  }
}

@media only print {
  html {
    font-size: 11px;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  @page {
    size: A4;
    margin: 1.5cm 0cm;
  }
}
