@media (max-width: 800px) {
  .resume-container {
    font-size: 14px;
  }
}

@media only print {
  .resume-container {
    font-size: 11px;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  @page {
    size: A4;
    margin: 1.5cm 0cm;
  }
}

.resume-container {
  --post-element-background-color: #f0f0f04d;
  --code-line-highlighted: #ffa5002b;
}

:is(.dark .resume-container) {
  --post-element-background-color: #1e1e1e;
}

.resume-container pre[data-theme="light"],
.resume-container code[data-theme="light"] {
  display: grid;
}

.resume-container pre[data-theme="dark"],
.resume-container code[data-theme="dark"] {
  display: none;
}

:is(.dark .resume-container) pre[data-theme="light"],
:is(.dark .resume-container) code[data-theme="light"] {
  display: none;
}

:is(.dark .resume-container) pre[data-theme="dark"],
:is(.dark .resume-container) code[data-theme="dark"] {
  display: grid;
}

div[data-rehype-pretty-code-fragment] {
  margin: 1rem 0;
  background-color: var(--post-element-background-color);
  border-radius: 4px;
  overflow-x: auto;
  overflow-y: hidden;
}

div[data-rehype-pretty-code-fragment] pre code {
  display: grid;

  padding: 1rem;
  font-size: 0.9em;

  letter-spacing: 0.03rem;

  counter-reset: codeblock;

  font-family: var(--font-d2-coding);
}

div[data-rehype-pretty-code-fragment] pre code .line {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 1rem;
}

div[data-rehype-pretty-code-fragment] pre code .line[data-highlighted-line] {
  background-color: var(--code-line-highlighted);
}
